{% extends "base_email.html" %}

{% block title %}Order Confirmation #{{ order.id }}{% endblock %}

{% block content %}
<p>Hello {% if first_name %}{{ first_name }}{% else %}there{% endif %},</p>

<p>Thank you for your order! Your order has been confirmed and processed successfully.</p>

<h3>Order Details:</h3>
<ul>
{% for item in items %}
    <li>{{ item.name }} - Quantity: {{ item.quantity }} </li>
{% endfor %}
</ul>

<p><strong>Total: £{{ total|floatformat:2 }}</strong></p>

<p>You can <a href="https://www.djangify.com/accounts/login/">Login HERE </a> to download your purchase.</p>

<p>If you have any questions, please don't hesitate to contact us at djangify@djangify.com.</p>

<p>Best regards,<br>
Djangify<br>
www.djangify.com</p>
{% endblock %}