<div class="relative flex flex-col items-center justify-center text-center py-20 px-6 lg:py-28 max-w-5xl mx-auto z-10">
  <h1 class="text-4xl lg:text-5xl font-bold uppercase text-[--color-brand-primary-contrast] leading-relaxed mb-6 ">
    {{ homepage_settings.hero_title|default:"Simple Sustainable Systems for Selling Online" }}
  </h1>

  <p class="text-lg lg:text-xl leading-relaxed font-semibold max-w-3xl text-[--color-brand-light] drop-shadow-sm mb-6">
    {{ homepage_settings.hero_paragraph|safe }}
  </p>

  {% if homepage_settings.hero_button_text and homepage_settings.hero_button_link %}
    <a href="{{ homepage_settings.hero_button_link }}"
       class="inline-block bg-[color:var(--color-brand-primary)] text-[color:var(--color-brand-light)] mt-8 px-8 py-3 rounded-lg font-semibold shadow hover:bg-[color:var(--color-brand-secondary)] transition"
       aria-label="{{ homepage_settings.hero_button_text }}">
       {{ homepage_settings.hero_button_text }}
    </a>
  {% endif %}
</div>
