{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- HERO SECTION -->
<header>
  {% include 'core/hero.html' %}
</header>

<main class="text-[color:var(--color-font-main)] mt-8">
  

    {% include 'core/components/latest-products.html' %}

    {% include 'core/components/home-featured.html' %}

    {% include 'core/components/download-cta.html' %}

    {% include 'core/components/home-closing.html' %}

    {% include 'core/components/blog-posts.html' %}
    
  </section>
 
</main>

{% endblock %}
